@media screen and (max-width: 992px) {
}

@media screen and (max-width: 767px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    border-bottom: 1px solid #222222;
  }

  .nav {
    align-items: center;
  }

  .nav__toggle {
    --size: 30px;
    width: var(--size);
    height: var(--size);

    border: none;
    position: relative;
  }

  .nav__toggle::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 1px;
    top: 33.333%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-text-color);
    transition: all 0.3s;
  }

  .nav__toggle::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 1px;
    bottom: 33.333%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-text-color);
    transition: all 0.3s;
  }

  .main {
    margin-top: var(--header-height);
  }

  .main-section {
    background-color: aqua;
    display: none;
  }
  .nav__toggle {
    display: inherit;
  }

  .nav__list {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: var(--header-height);
    right: 0;
    background: #ffffff;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    z-index: var(--floated-elements-z-index);
    justify-content: flex-start;
    align-items: center;
    transform: translateY(-120%);
    transform-origin: top center;
    transition: transform 0.5s, opacity 0.5s, visibility 0.5s;
  }

  .nav__item {
    border-bottom: 1px solid #222222;
    width: 80%;
    margin: 0;
    padding: 10px 0;
  }

  .nav__link {
  }

  .nav.expand .nav__list {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .nav.expand .nav__toggle {
  }

  .nav.expand .nav__toggle::after {
    transform: translateX(-50%) rotate(-45deg);
    top: 50%;
  }

  .nav.expand .nav__toggle::before {
    transform: translateX(-50%) rotate(45deg);
    top: 50%;
  }
}

@media screen and (max-width: 576px) {
}
